{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row header-top-margin">
            <div class="col-12">
                <h1>Sign In</h1>
            </div>
        </div>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="form-row header-top-margin">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    {{ form.username.label }}
                    {{ form.username(class_="form-control") }}
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-row header-top-margin">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-check">
                    {{ form.remember_me(class_="form-check-input") }}
                    {{ form.remember_me.label }}
                </div>
            </div>

            <div class="form-row">
                {{ form.submit(class_="btn btn-secondary") }}
            </div>
        </form>

        <div class="row header-top-margin">
            <a href="{{ url_for('auth.register') }}" class="badge badge-secondary light-badge">New User?</a>
            <a href="{{ url_for('auth.reset_password_request') }}" class="badge badge-secondary light-badge">Forgot Your Password?</a>
        </div>
    </div>
{% endblock %}