{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row header-top-margin">
            <div class="col-12">
                <h1>{{ _('Reset Your Password') }}</h1>
            </div>
        </div>

        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="form-row header-top-margin">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    {{ form.password.label }}
                    {{ form.password(class_="form-control") }}
                </div>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="form-row header-top-margin">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    {{ form.password2.label }}
                    {{ form.password2(class_="form-control") }}
                </div>
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

             <div class="form-row  header-top-margin">
                 {{ form.submit() }}
             </div>
        </form>
    </div>
{% endblock %}