{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row header-top-margin">
            <div class="col-12">
                <h1>{{ _(Reset Password) }}</h1>
            </div>
        </div>

        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="form-row header-top-margin">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}
                </div>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
             </div>

            <div class="form-row  header-top-margin">
                {{ form.submit(class_="btn btn-secondary") }}
            </div>
        </form>
    </div>
{% endblock %}