<html>
    <head>
      {% if title %}
      <title>{{ title }} - Cookbook</title>
      {% else %}
      <title>Welcome to Cookbook</title>
      {% endif %}
    </head>
    <body>
        <div>
            Cookbook:
            <a href="{{ url_for('main.index') }}">Recipe List</a>
            <a href="{{ url_for('main.new') }}">Add Recipe</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('main.login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('main.logout') }}">Logout</a>
                <span>{{ current_user.username }}</span>
                <span>{{ current_user.id }}</span>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>