{% extends "base.html" %}

{% block content %}
    <div class="container header-top-margin">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        #
                    </th>
                    <th scope="col">
                        {{ _('Name') }}
                    </th>
                    <th scope="col">
                        {{ _('Time') }}
                    </th>
                    <th scope="col">
                        {{ _('Difficulty') }}
                    </th>
<!--                    <th scope="col">-->
<!--                        {{ _('Attributes') }}-->
<!--                    </th>-->
                </tr>
            </thead>

            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <th scope="row">
                            {{ loop.index }}
                        </th>
                        <td>
                            {% if waiting %}
                                <a href="{{ url_for('main.get_waiting', pk=recipe.id) }}">{{ recipe.title }}</a>
                            {% else %}
                                <a href="{{ url_for('main.get', pk=recipe.id) }}">{{ recipe.title }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ recipe.time }}'
                        </td>
                        <td>
                            {% for i in range(recipe.difficulty) %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                            {% for i in range(5-recipe.difficulty) %}
                                <i class="far fa-star"></i>
                            {% endfor %}
                        </td>
<!--                        <td>-->
<!--                            implement-->
<!--                        </td>-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}