{% extends "base.html" %}

{% block content %}
    <div class="container-fluid header-top-margin">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        #
                    </th>
                    <th scope="col">
                        {{ _('Name') }}
                    </th>
                    <th scope="col">
                        {{ _('Time') }}
                    </th>
                    <th scope="col">
                        {{ _('Difficulty') }}
                    </th>
                    {% if waiting %}
                        <th scope="col">
                            {{ _('Status') }}
                        </th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <th scope="row">
                            {{ loop.index }}
                        </th>
                        <td>
                            {% if waiting %}
                                <a href="{{ url_for('main.get_waiting', pk=recipe.id) }}">{{ recipe.title }}</a>
                            {% else %}
                                <a href="{{ url_for('main.get', pk=recipe.id) }}">{{ recipe.title }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if recipe.time %}
                                {{ recipe.time }}'
                            {% endif %}
                        </td>
                        <td>
                            {% if recipe.difficulty %}
                                {% for i in range(recipe.difficulty) %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                                {% for i in range(5-recipe.difficulty) %}
                                    <i class="far fa-star"></i>
                                {% endfor %}
                            {% endif %}
                        </td>
                        {% if waiting %}
                            {% if recipe.refused %}
                                <th scope="col">
                                    <span class="badge badge-danger">{{ _('Refused') }}</span>
                                </th>
                            {% else %}
                                <th scope="col">
                                    <span class="badge badge-primary">{{ _('Pending') }}</span>
                                </th>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if prev_url %}
            <a href="{{ prev_url }}">{{ _('Previous') }}</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}">{{ _('Next') }}</a>
        {% endif %}
    </div>
{% endblock %}