{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row header-top-margin">
            <div class="col-12">
                {% if title %}
                    <h1>{{ title }} - Cookbook</h1>
                {% else %}
                    <h1>Cookbook</h1>
                {% endif %}
            </div>
        </div>

        <form action="" method="post">
            {{ form.hidden_tag() }}
             <div class="form-row header-top-margin">
                 <div class="col-12">
                    {{ form.title.label }}
                    {{ form.title(class_="form-control") }}
                    {% for error in form.title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row header-top-margin">
                <div class="col-4">
                    {{ form.time.label }}
                    {{ form.time(class_="form-control") }}
                    {% for error in form.time.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col-4">
                    {{ form.difficulty.label }}
                    {{ form.difficulty(class_="form-control") }}
                    {% for error in form.difficulty.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-row header-top-margin">
                <div class="col-12">
                    <h3>{{ _('Ingredients') }}</h3>
                </div>
            </div>

            <div class="form-row">
                <div class="col-6">
                    <label>{{ _('Name') }}</label>
                </div>
                <div class="col-2">
                    <label>{{ _('Amount') }}</label>
                </div>
                <div class="col-2">
                    <label>{{ _('Unit') }}</label>
                </div>
            </div>

                {% for i in form.ingredients %}
                    {{ i.hidden_tag() }}

                    <div class="form-row ingredients-top-margin">
                        <div class="col-6">
                            {{ i.title(class_="form-control") }}
                            {% for error in i.title.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="col-2">
                            {{ i.amount(class_="form-control") }}
                            {% for error in i.amount.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <div class="col-2">
                            {{ i.unit(class_="form-control") }}
                            {% for error in i.unit.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

            {% for error in form.ingredients.errors %}
                    <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <div class="form-row ingredients-top-margin">
                <div class="col-12">
                    {{ form.add_ingredient(class_="btn btn-success") }}
                    {{ form.remove_ingredient(class_="btn btn-danger") }}
                </div>
            </div>

            <div class="form-row header-top-margin">
                <div class="col-12">
                    {{ form.link.label }}
                    {{ form.link(class_="form-control") }}
                    {% for error in form.link.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-row header-top-margin">
                <div class="col-12">
                    {{ form.preparation.label }}
                    {{ form.preparation(class_="form-control preparation-text-area") }}
                    {% for error in form.preparation.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div class="form-row header-top-margin">
                {{ form.submit(class_="btn btn-secondary") }}
            </div>
        </form>
    </div>
{% endblock %}