{% extends "base.html" %}

{% block content %}
    {% if title %}
        <h1>{{ title }} - Cookbook</h1>
    {% else %}
        <h1>Cookbook</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=150) }}<br>
            {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(size=10) }}<br>
            {% for error in form.time.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.difficulty.label }}<br>
            {{ form.difficulty(size=10) }}<br>
            {% for error in form.difficulty.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <h3>Ingredients</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Unit</th>
            </tr>
            {% for i in form.ingredients %}
                {{ i.hidden_tag() }}
                {% for error in i.title.errors %}
                    [{{ error }}]
                {% endfor %}
                {% for error in i.amount.errors %}
                    [{{ error }}]
                {% endfor %}
                {% for error in i.unit.errors %}
                    [{{ error }}]
                {% endfor %}
                <tr>
                    <td>{{ i.title }}</td>
                    <td>{{ i.amount }}</td>
                    <td>{{ i.unit }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ form.add_ingredient }}
        {{ form.remove_ingredient }}
        {% for error in form.ingredients.errors %}
                <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>
            {{ form.link.label }}<br>
            {{ form.link(size=10) }}<br>
            {% for error in form.link.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.preparation.label }}<br>
            {{ form.preparation(size=150) }}<br>
            {% for error in form.preparation.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}