{% extends "base.html" %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
    {% if current_user == recipe.author %}
         <a href="{{ url_for('main.edit', pk=recipe.id) }}">Edit</a>
    {% endif %}
        <table>
            <tr>
                <h3>Ingredients</h3>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Unit
                </th>
            </tr>
            {% for ingredient in recipe.ingredients %}
                <tr>
                    <td>
                        {{ ingredient.title }}
                    </td>
                    <td>
                        {{ ingredient.time }}
                    </td>
                    <td>
                        {{ ingredient.amount }}
                    </td>
                    <td>
                        {{ ingredient.unit }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Preparation</h3>
        <p>{{ recipe.detail.preparation }}</p>

        <h3>More</h3>
<a href="{{ recipe.detail.link }}">{{ recipe.detail.link }}</a>
{% endblock %}