{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row header-top-margin">
            <div class="col-12">
                <h2>{{ recipe.title }}</h2>
            </div>
            <div class="col-12">
                {% if waiting %}
                    {% if recipe.refused %}
                        <span class="badge badge-danger">{{ _('Refused') }}</span>
                    {% else %}
                        <span class="badge badge-primary">{{ _('Pending') }}</span>
                    {% endif %}
                {% endif %}
                <p>{{ _('Author:') }} {{ recipe.author.username}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% if current_user == recipe.author or current_user.admin %}
                    {% if waiting %}
                        <a href="{{ url_for('main.edit_waiting', pk=recipe.id) }}" class="btn btn-primary">{{ _('Edit') }}</a>
                    {% else %}
                        <a href="{{ url_for('main.edit', pk=recipe.id) }}" class="btn btn-primary">{{ _('Edit') }}</a>
                    {% endif %}
                {% endif %}
                {% if waiting and current_user.admin %}
                    <a href="{{ url_for('main.accept', pk=recipe.id) }}" class="btn btn-success">{{ _('Accept') }}</a>
                    <a href="{{ url_for('main.reject', pk=recipe.id) }}" class="btn btn-danger">{{ _('Reject') }}</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1 col-md-2">
                <p>
                    {% if recipe.time %}
                        <i class="fas fa-clock"></i> {{ recipe.time }}'
                    {% endif %}
                </p>
            </div>
            <div class="col-lg-3 col-md-4">
                <p>
                    {% if recipe.difficulty %}
                        {{ _('Difficulty:') }}
                        {% for i in range(recipe.difficulty) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for i in range(5-recipe.difficulty) %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-12">
                <h3>{{ _('Ingredients') }}</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                {{ _('Name') }}
                            </th>
                            <th scope="col">
                                {{ _('Amount') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe.ingredients %}
                            <tr>
                                <th scope="row">
                                    {{ ingredient.title }}
                                </th>
                                <td>
                                    {% if ingredient.amount %}
                                        {{ (ingredient.amount|round(1)|string).rstrip('0').rstrip('.') }} {{ ingredient.unit }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-lg-8">
                <h3>{{ _('Preparation') }}</h3>
                <p>{{ recipe.preparation }}</p>
                {% if recipe.link %}
                    <a href="{{ recipe.link }}">{{ _('source') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}