{% extends "base.html" %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
    {% if current_user == recipe.author or current_user.admin %}
         <a href="{{ url_for('main.edit', pk=recipe.id) }}">Edit</a>
    {% endif %}

    <h3>Time</h3>
     <p>{{ recipe.time }}</p>

    <h3>Difficulty</h3>
    <p>{{ recipe.difficulty }}</p>

    <h3>Ingredients</h3>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Unit
            </th>
        </tr>
        {% for ingredient in recipe.ingredients %}
            <tr>
                <td>
                    {{ ingredient.title }}
                </td>
                <td>
                    {{ ingredient.amount }}
                </td>
                <td>
                    {{ ingredient.unit }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h3>Preparation</h3>
    <p>{{ recipe.preparation }}</p>

    <h3>Source</h3>
    <a href="{{ recipe.link }}">{{ recipe.link }}</a>
{% endblock %}